<mat-toolbar>
  <span>Log In</span>
</mat-toolbar>
<div class="login">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput placeholder="" [(ngModel)]="user.Username">
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput type="password" placeholder="" [(ngModel)]="user.Password">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="login()">Log in</button>
</div>