.app-toolbar {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 64px; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
  }

  .system {
    padding: 20px;
    display: inline-grid;
    grid-template-columns: 430px 430px;
  }
  
  .cpu-card {
    width: 400px;
    max-height: 600px;
    margin-bottom: 30px;
    background-color: rgb(245, 245, 248);
  }

  .memory-card {
    width: 500px;
    max-height: 600px;
    margin-bottom: 30px;
    background-color: rgb(245, 245, 248);
  }

  .disk-card {
    width: 930px;
    max-height: 600px;
    margin-bottom: 30px;
    background-color: rgb(245, 245, 248);
  }

  .topline {
    display: inline-grid;
    grid-template-columns: 200px 200px;
  }

  .CPU, .RAM {
    padding: 20px
  }