.containers {
  padding: 30px;
  display: inline-grid;
  grid-template-columns: 380px 380px 380px;
}

.example-card {
  max-width: 300px;
  max-height: 300px;
  margin-bottom: 80px;
  background-color: rgb(225, 238, 247);
}