.app-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 64px; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.containersRepo {
    padding: 30px;
    display: inline-grid;
    grid-template-columns: 390px 390px 390px;
  }

  .example-card {
    max-width: 360px;
    max-height: 300px;
    margin-bottom: 50px;
    background-color: rgb(225, 238, 247);
  }